################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/source/Core/__history
/source/Packages/__history
/source/Packages/NovusDevNETVCLPackages_D16.groupproj.local
/source/Packages/NovusDevNETVCLPackages_D11.groupproj
/source/Packages/NovusDevNETVCLPackages_D12.groupproj
/source/Packages/NovusDevNETVCLPackages_D15.groupproj
/source/Packages/NovusDevNETVCLPackages_D16.groupproj
*.local
*.identcache
/Units/D18/Win32

/source/Packages/DELPHIXE8/__history
/units
/source/Packages/DELPHIXE8/NovusPack_RO.stat
/source/Packages/DELPHIXE8/NovusPack_RODA.stat
/source/Packages/DELPHIXE8/NovusPack_Win32Debug.stat
source/Packages/DELPHI10.4/__history/NovusPack_RO.dpk.~1~
source/Packages/DELPHI10.4/__history/NovusPack_RO.dpk.~2~
